{% extends 'base.html.twig' %}

{% block title  %}
	{{question.title }}
{% endblock %}
{% block styleSheets %}
	{{ parent() }}

	{# <link rel="stylesheet" href="{{ asset('css/question_show.css') }} ">
    <link rel="stylesheet" href="{{asset('css/question_show.css')}}"> #}
{% endblock %}
{% block body  %}
	<div class="block">
		<div class="d-flex flex-row-nowrap align-items-center pb-30">
			<h1 class="mr-10">
				{{question.title }}
			</h1>
			<div class="question-tag">
				Question
			</div>
			<img class="avatar ml-auto" src="https://randomuser.me/api/portraits/men/64.jpg" alt="user">
		</div>
		<p class="question-text">
			{{ question.content }}
		</p>
        <div class="separator">  </div>
	</div>
{% endblock %}
